{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}-Login{% endblock %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="row">
    <div class="col-sm-5">
        <div class="well">
            <form action="{{ path('security_login') }}" method="post">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> Login</legend>
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar
                            </button>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-danger" href="{{ path('user_registration') }}">Registrate</a>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
{% endblock %}